#secureLoginButton {
	list-style-image: url("login.png");
}
#TabsToolbar > #secureLoginButton:-moz-system-metric(windows-compositor):not(:-moz-lwtheme),
#TabsToolbar > toolbarpaletteitem > #secureLoginButton:-moz-system-metric(windows-compositor):not(:-moz-lwtheme),
#secureLoginButton:-moz-lwtheme-brighttext {
  list-style-image: url("login-inverted.png");
}

.popup-notification-icon[popupid="securelogin-foundlogin"] {
	list-style-image: url("chrome://mozapps/skin/passwordmgr/key-64.png");
}

.secureLoginSettingsIcon {
	list-style-image: url("settings-small.png");
}
.secureLoginHelpIcon {
	list-style-image: url("help-small.png");
}
.secureLoginUserIcon {
	list-style-image: url("user-small.png");
}

#secureLoginTooltipTitle {
	margin-bottom: 10px;
}
#secureLoginTooltipTitleLabel {
	font-weight: bold;	
}
#secureLoginTooltipKeyboardShortcut {
	font-family:monospace;
}
#secureLoginTooltipUrls {
}
.secureLoginTooltipUrlHeader {
	font-style: italic;
	margin-bottom: 5px;
}
.secureLoginTooltipUrlRow {
}
.secureLoginTooltipUrl {
}
.secureLoginTooltipUrlCount {
}