#secureLoginButton {
	list-style-image: url("login.png");
}
#secureLoginButton[disabled="true"] {
	list-style-image: url("login-disabled.png");
}
toolbar[iconsize="small"] #secureLoginButton {
	list-style-image: url("login-small.png");
}
toolbar[iconsize="small"] #secureLoginButton[disabled="true"] {
	list-style-image: url("login-small-disabled.png");
}

#secureLogin-urlbar-button {
	list-style-image: url("urlbar.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}
#secureLogin-urlbar-button:hover {
	list-style-image: url("urlbar.png");
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}
#secureLogin-urlbar-button:active {
	list-style-image: url("urlbar.png");
	-moz-image-region: rect(0px, 48px, 16px, 32px);
}

.popup-notification-icon[popupid="securelogin-foundlogin"] {
	list-style-image: url("chrome://mozapps/skin/passwordmgr/key-64.png");
}

.secureLoginSettingsIcon {
	list-style-image: url("settings-small.png");
}
.secureLoginHelpIcon {
	list-style-image: url("help-small.png");
}
.secureLoginUserIcon {
	list-style-image: url("user-small.png");
}

#secureLoginTooltipTitle {
	margin-bottom: 10px;
}
#secureLoginTooltipTitleLabel {
	font-weight: bold;	
}
#secureLoginTooltipKeyboardShortcut {
	font-family:monospace;
}
#secureLoginTooltipUrls {
}
.secureLoginTooltipUrlHeader {
	font-style: italic;
	margin-bottom: 5px;
}
.secureLoginTooltipUrlRow {
}
.secureLoginTooltipUrl {
}
.secureLoginTooltipUrlCount {
}