/* toolbar button */
#secureLoginButton {
	list-style-image: url("login.png");
}
#secureLogin-urlbar-button {
	list-style-image: url("login.png");
}

/* doorhanger notification */
.popup-notification-icon[popupid="securelogin-foundlogin"] {
	list-style-image: url("chrome://mozapps/skin/passwordmgr/key-64.png");
}

/* securelogin context/tool menu */
.secureLoginSettingsIcon {
	list-style-image: url("settings-small.png");
}
.secureLoginHelpIcon {
	list-style-image: url("help-small.png");
}
.secureLoginUserIcon {
	list-style-image: url("user-small.png");
}

/* securelogin button tooltip */
#secureLoginTooltipTitle {
	margin-bottom: 10px;
}
#secureLoginTooltipTitleLabel {
	font-weight: bold;	
}
#secureLoginTooltipKeyboardShortcut {
	font-family:monospace;
}
#secureLoginTooltipUrls {
}
.secureLoginTooltipUrlHeader {
	font-style: italic;
	margin-bottom: 5px;
}
.secureLoginTooltipUrlRow {
}
.secureLoginTooltipUrl {
}
.secureLoginTooltipUrlCount {
}